*{
    margin: 0 ;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}
img {
    max-width: 100%;
    height: auto;
}

.navbar{
    background: rgb(255, 217, 0) ;
    border-bottom:3px solid rgba(0, 0, 0, 0.658);
    

}
.card-img-top{
    width:100%;
    height:auto;
    opacity: 1;
  }

.navbar-brand{
    width: 10%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}
.header{
    color: white;
    height: 50%;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 90px;

}
.p-jumbotron{
    font-family: 'McLaren', cursive;

}
.jumbotron{
    font-family: 'McLaren', cursive;

}
.jumbotron-header{
    background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url("../images/header-image2.jpg");
    background-size: cover;
    opacity: 0.7;
    text-align: center;
    text-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.329);
    
}


.jumbotron-tittle{
    
    animation: rotate 3s infinite;
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
.fab{
    padding: 20px;
    font-size: 10px;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    
}
.fa-instalacion{
    width: auto;
    height: auto;
    padding: 0;

}



.fa-facebook-f {
    background: #3B5998;
    color: white;
    
  }
  .fa-whatsapp {
    background: rgb(2, 151, 94);
    color: white;
    
  }
  .fa-instagram {
    background: rgb(245, 24, 145);
    color: white;
    
  }
  

.fa:hover {
    opacity: 0.7;
}
.card{
    margin-left: auto;
    margin-right: auto;
  

}
.btn-custom{
    background:  rgba(255, 217, 0, 0.726);
    color: black; 
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    font-weight: bold;


}
.btn-custom:active{
     opacity: 0.7;
}
.btn-custom:hover{
     opacity: 0.7;
}
a:hover {
    color: black;
  }
 hr{
    margin-left: auto;
    margin-right: auto;
}
.list-group-item.active{
    background-color: rgb(133, 5, 71) ;
    border-color: black;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 30px;
    font-weight: bold;
    color: rgb(133, 5, 71);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  font-weight: bold;
  color: rgb(133, 5, 71);
}

@keyframes rotate{
    0% {
        background-position-x: 0px;
      }
      100% {
        background-position-x: -960px, 0;
      }
    0%, 100% {
    transform: rotate(2deg);
    
    }
    50% {
    transform: rotate(-2deg);
    }
}
/* MOBILE  */
@media only screen and (max-width: 600px) {
    .navbar-brand{
        width: 30%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .header{
    
        height: 50%;
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: 22%;
    }
    .card{
        margin-left: auto;
        margin-right: auto;
    }

  .carousel-control-next-icon:after
{
color: white;
}
.carousel-control-prev-icon:after
{
color: white;
}
   
}
@media only screen and (min-width: 480px) 
                   and (max-width: 960px) 
                   and (orientation: landscape) {
                    .header{
                        margin-top: 4%;
                    }
                    .jumbotron{
                        width: 100%;
                    }
                    .card{
                        height: 100% !important;
                        width: 100% !important;
                    }
                    .btn-map{
                        margin-top: 28%;
                    }
                    

}
